@import "themes";
@import "day-picker";

@function kt-date-picker-height($theme) {
  @return kt-day-picker-height($theme, true);
}

@function kt-date-picker-width($theme) {
  @return kt-day-picker-width($theme, true);
}

@mixin _kt-date-picker-box($theme) {
  .kt-dp--theme-#{$theme} kt-date-picker,
  kt-date-picker.kt-dp--theme-#{$theme} {
    overflow : hidden;
    position : relative;

    &, > * {
      height : kt-date-picker-height($theme);
    }

    > * {
      display  : block;
      left     : 0;
      right    : 0;
      padding  : theme-property($theme, 'padding');
      position : absolute;
    }
  }

  .kt-dp--theme-#{$theme} kt-date-picker {
    display : block;
  }

  kt-date-picker.kt-dp--theme-#{$theme} {
    background : theme-property($theme, 'background');
    display    : inline-block;
    min-width  : kt-date-picker-width($theme);
  }
}

@mixin _kt-date-picker-animation($theme) {
  .kt-dp--theme-#{$theme} kt-date-picker,
  kt-date-picker.kt-dp--theme-#{$theme} {
    > * {
      &.ng-hide-add {
        animation : slideOutUp theme-property($theme, 'animation-duration');

        & + .ng-hide-remove {
          animation : slideInUp theme-property($theme, 'animation-duration');
        }
      }

      &.ng-hide-remove {
        animation : slideInDown theme-property($theme, 'animation-duration');

        & + .ng-hide-add {
          animation : slideOutDown theme-property($theme, 'animation-duration');
        }
      }

      &:last-child.ng-hide-add {
        animation : slideOutDown theme-property($theme, 'animation-duration');
      }
    }
  }
}

@mixin _kt-date-picker($theme) {
  @include _kt-date-picker-animation($theme);
  @include _kt-date-picker-box($theme);
}