@import "themes";
@import "date-picker";

@function kt-date-range-picker-content-height($theme) {
  @return kt-date-picker-height($theme);
}

@function kt-date-range-picker-width($theme) {
  @return kt-date-picker-width($theme);
}

@mixin _kt-date-range-navigation($theme) {
  .kt-dp--theme-#{$theme} .kt-dp-range-navigation {
    margin-bottom : theme-property($theme, 'margin-navigation');
    padding-left  : theme-property($theme, 'padding');
    padding-right : theme-property($theme, 'padding');
    padding-top   : theme-property($theme, 'padding');
  }
}

@mixin _kt-date-range-picker-box($theme) {
  @include _kt-date-range-navigation($theme);

  kt-date-range-picker.kt-dp--theme-#{$theme} {
    background : theme-property($theme, 'background');
    display    : inline-block;
    min-width  : kt-date-range-picker-width($theme);

    .kt-dp-picker-container {
      height   : kt-date-range-picker-content-height($theme);
      overflow : hidden;
      position : relative;

      > * {
        position : absolute;
        left     : 0;
        right    : 0;
      }
    }
  }
}

@mixin _kt-date-range-picker-animation($theme) {
  kt-date-range-picker.kt-dp--theme-#{$theme} {
    .kt-dp-picker-container > * {

    }

    kt-date-range-select.ng-hide-add {
      animation : zoomOutDown theme-property($theme, 'animation-duration');

      ~ kt-date-picker.ng-hide-remove {
        animation : zoomInDown theme-property($theme, 'animation-duration');
      }
    }

    kt-date-range-select.ng-hide-remove {
      animation : zoomInUp theme-property($theme, 'animation-duration');

      ~ kt-date-picker.ng-hide-add {
        animation : zoomOutUp theme-property($theme, 'animation-duration');
      }
    }

    kt-date-picker {
      &:first-of-type.ng-hide-add {
        animation : slideOutLeft theme-property($theme, 'animation-duration');
      }

      &:last-of-type.ng-hide-remove {
        animation : slideInRight theme-property($theme, 'animation-duration');
      }

      &:last-of-type.ng-hide-add {
        animation : slideOutRight theme-property($theme, 'animation-duration');
      }

      &:first-of-type.ng-hide-remove {
        animation : slideInLeft theme-property($theme, 'animation-duration');
      }
    }
  }
}

@mixin _kt-date-range-picker($theme) {
  @include _kt-date-range-picker-animation($theme);
  @include _kt-date-range-picker-box($theme);
}
