@import "themes";

@mixin _kt-date-picker-global($theme) {
  .kt-dp--theme-#{$theme} {
    color       : theme-property($theme, 'color');
    font-family : theme-property($theme, 'font-family');
    font-size   : theme-property($theme, 'font-size');

    button {
      background  : transparent;
      border      : none;
      color       : inherit;
      cursor      : pointer;
      font-family : inherit;
      font-size   : inherit;
      padding     : 0;
    }

    kt-date-picker-icon {
      align-items     : center;
      display         : flex;
      height          : 100%;
      justify-content : center;

      svg {
        height : theme-property($theme, 'icon-size');
        width  : theme-property($theme, 'icon-size');
      }
    }

    svg {
      fill : theme-property($theme, 'color');
    }

    .kt-dp-flex-row {
      display : flex;
    }

    .kt-dp-flex-cell {
      //noinspection CssRedundantUnit
      flex       : 1 1 0%;
      text-align : center;
    }

    .kt-dp-navigation {
      margin-bottom : theme-property($theme, 'margin-navigation');
    }

    .kt-dp-navigation .kt-dp-flex-cell:nth-of-type(2) {
      //noinspection CssRedundantUnit
      flex : 5 1 0%;
    }

    .kt-dp-button {
      display   : block;
      height    : theme-property($theme, 'cell-size');
      min-width : theme-property($theme, 'cell-size');
      width     : 100%;

      &--selected {
        background-color : theme-property($theme, 'background-selected');
        color            : theme-property($theme, 'background');

        svg {
          fill : theme-property($theme, 'background');
        }
      }

      &:not(.kt-dp-button--preserve-color):disabled {
        background-color : theme-property($theme, 'background-disabled');
        color            : theme-property($theme, 'color-disabled');
      }
    }

    .kt-dp-button--overflow:not(.kt-dp-button--selected) {
      color : theme-property($theme, 'color-muted');
    }

    @if theme-property($theme, 'round-buttons') == true {
      .kt-dp-date {
        border-radius : 100%;
        display       : inline-block;
        width         : auto;
      }
    }

    button:disabled {
      cursor : default;
    }

    button:not(:disabled):not(.kt-dp-button--selected):hover {
      background-color : theme-property($theme, 'background-hover');
    }
  }
}
