@import "themes";

@mixin _kt-month-picker($theme) {
  kt-month-picker.kt-dp--theme-#{$theme} {
    background : theme-property($theme, 'background');
    display : inline-block;
    padding : theme-property($theme, 'padding');
  }
}
