@import "themes";

@mixin _kt-year-picker($theme) {
  kt-year-picker.kt-dp--theme-#{$theme} {
    background : theme-property($theme, 'background');
    display    : inline-block;
    padding    : theme-property($theme, 'padding');
  }
}
