@import url(https://fonts.googleapis.com/css?family=Roboto);

$kt-date-picker-font-family : 'Roboto', sans-serif;
$kt-date-picker-width : 28rem;
$kt-date-picker-padding : 0.5rem;
$kt-date-picker-cell-font-size : 0.8em;
$kt-date-picker-cell-padding : 0.25rem;
$kt-date-picker-cell-size : 3rem;
$kt-date-picker-header-font-size : 1em;
$kt-date-picker-header-height : 3rem;
$kt-date-picker-footer-height : 2rem;
$kt-date-picker-previous-next-font-size : 0.8em;
$kt-date-picker-active-date-color : #ffffff;
$kt-date-picker-active-date-background : #3f51b5;
$kt-date-picker-content-height : 7 * $kt-date-picker-cell-size;
$kt-date-picker-height : $kt-date-picker-header-height + $kt-date-picker-content-height + $kt-date-picker-footer-height;
$kt-date-picker-color : #222222;
$kt-date-picker-background: #ffffff;
$kt-date-picker-muted-opacity : 0.4;
$kt-date-picker-overflow-opacity : 0.4;
$kt-date-picker-border : 1px solid $kt-date-picker-active-date-background;
$kt-date-picker-shadow : 0 1px 5px 1px $kt-date-picker-active-date-background;

$kt-time-picker-width: 15rem;

@mixin kt-date-picker-cell($display) {
  display        : $display;
  box-sizing     : border-box;
  height         : $kt-date-picker-cell-size;
  font-size      : $kt-date-picker-cell-font-size;
  text-align     : center;
  vertical-align : middle;
}

@mixin kt-date-picker-cell-button($shape) {
  position : relative;
  width    : 100%;
  height   : 100%;

  &::before {
    content       : "";
    height        : $kt-date-picker-cell-size - (2 * $kt-date-picker-cell-padding);
    position      : absolute;
    z-index       : -1;

    @if $shape == circle {
      width         : $kt-date-picker-cell-size - (2 * $kt-date-picker-cell-padding);
      border-radius : 50%;
      left          : 50%;
      top           : $kt-date-picker-cell-padding;
      transform     : translateX(-50%);
    }
    @else {
      border-radius : $kt-date-picker-cell-padding;
      left          : $kt-date-picker-cell-padding;
      right         : $kt-date-picker-cell-padding;
      top           : $kt-date-picker-cell-padding;
      bottom        : $kt-date-picker-cell-padding;
    }
  }
}

.kt-date-picker-muted {
  opacity: $kt-date-picker-muted-opacity;
}

.kt-date-picker-overflow {
  opacity: $kt-date-picker-overflow-opacity;
}

.kt-date-picker-selected button {
  color : $kt-date-picker-active-date-color;

  &::before {
    background : $kt-date-picker-active-date-background;
  }
}

.kt-date-picker-header {
  display : table;
  width   : 100%;

  button, div {
    display        : table-cell;
    vertical-align : middle;
    height         : $kt-date-picker-header-height;
    font-size      : $kt-date-picker-header-font-size;
  }

  button:first-of-type, button:last-of-type {
    width     : 20%;
    font-size : $kt-date-picker-previous-next-font-size;
  }

  button:nth-of-type(2) {
    width     : 60%;
  }
}

.kt-date-picker-footer {
  height: $kt-date-picker-footer-height;
}

kt-date-picker, kt-day-picker, kt-month-picker, kt-year-picker, kt-time-picker {
  display     : block;
  width       : $kt-date-picker-width;
  font-family : $kt-date-picker-font-family;
  padding     : $kt-date-picker-padding;

  button {
    background  : transparent;
    border      : none;
    cursor      : pointer;
    color       : $kt-date-picker-color;
    padding     : 0;
    font-family : inherit;
  }
}

kt-date-picker {
  kt-day-picker, kt-month-picker, kt-year-picker {
    width   : 100%;
    padding : 0;
  }

  .kt-date-picker-content {
    height : $kt-date-picker-content-height;
  }
}

kt-day-picker {
  .kt-day-picker-cell {
    @include kt-date-picker-cell(table-cell);

    button {
      @include kt-date-picker-cell-button(circle);
    }
  }

  .kt-date-picker-content {
    height : $kt-date-picker-content-height;
  }

  .kt-day-picker-row {
    display      : table;
    table-layout : fixed;
    width        : 100%;
  }

  .kt-day-picker-day {
    @extend .kt-day-picker-cell;
    @extend .kt-date-picker-muted;
  }
}

kt-month-picker {
  .kt-month-picker-cell {
    @include kt-date-picker-cell(inline-block);
    width : 32%;

    &:not(:nth-of-type(3n)) {
      margin-right : 2%;
    }

    button {
      @include kt-date-picker-cell-button(rectangle);
    }
  }
}

kt-year-picker {
  .kt-year-picker-cell {
    @include kt-date-picker-cell(inline-block);
    width : 32%;

    &:not(:nth-of-type(3n)) {
      margin-right : 2%;
    }

    button {
      @include kt-date-picker-cell-button(rectangle);
    }
  }
}

kt-time-picker {
  width: $kt-time-picker-width;

  .kt-date-picker-header {
    div {
      display    : table-cell;
      width      : 50%;
      text-align : center;
    }
  }

  .kt-date-picker-content {
    display : table;
    width   : 100%;

    .kt-time-picker-outer {
      display  : table-cell;
      width    : 50%;
      overflow : hidden;
    }

    .kt-time-picker-inner {
      height     : $kt-date-picker-content-height;
      overflow-y : scroll;
    }
  }

  .kt-time-picker-cell {
    @include kt-date-picker-cell(inline-block);
    width : 100%;

    button {
      @include kt-date-picker-cell-button(circle);
    }
  }
}

kt-date-picker-input {
  kt-date-picker {
    position   : absolute;
    background : $kt-date-picker-background;
    border     : $kt-date-picker-border;
    box-shadow : $kt-date-picker-shadow;
    z-index    : 1;
  }
}
