<div>
    <div class="kt-date-range-picker-header" style="display: table; width: 100%">
        <button ng-click="setCurrentPicker('start')" ng-class="{'kt-date-range-picker-active-range': isCurrentPicker('start')}">{{getDisplayedDate(startDate)}}</button>
        <button ng-click="setCurrentPicker('end')" ng-class="{'kt-date-range-picker-active-range': isCurrentPicker('end')}">{{getDisplayedDate(endDate)}}</button>
    </div>
    <kt-date-picker ng-model="startDate" min-date="minDate" max-date="maxDate" format="{{format}}" ng-show="isCurrentPicker('start')"></kt-date-picker>
    <kt-date-picker ng-model="endDate" min-date="startDate" max-date="maxDate" format="{{format}}" ng-show="isCurrentPicker('end')"></kt-date-picker>
</div>