<div class="kt-dp-flex-row kt-dp-navigation">
  <div class="kt-dp-flex-cell">
    <button
        type="button" class="kt-dp-navigation__button kt-button--block"
        ng-click="previousMonth()" ng-disabled="!hasPreviousMonth()">
      <kt-date-picker-previous-icon></kt-date-picker-previous-icon>
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button
        type="button" class="kt-dp-navigation__button kt-button--block"
        ng-click="monthClick()" ng-disabled="!canChooseMonth()">
      {{dayPicker.month | monthFormat}}
      {{dayPicker.year}}
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button
        type="button" class="kt-dp-navigation__button kt-button--block"
        ng-click="nextMonth()" ng-disabled="!hasNextMonth()">
      <kt-date-picker-next-icon></kt-date-picker-next-icon>
    </button>
  </div>
</div>

<kt-day-header></kt-day-header>

<div class="kt-dp-flex-row" ng-repeat="week in dayPicker.weeks">
  <div class="kt-dp-flex-cell" ng-repeat="date in week.dates">
    <button
        type="button"
        class="kt-dp-date"
        ng-click="selectDate(date)"
        ng-disabled="!isInMinMaxRange(date)"
        ng-class="{'kt-dp-date--selected': isSelected(date), 'kt-dp-date--overflow': isOverflowing(date)}">
      {{date.format('D')}}
    </button>
  </div>
</div>
