<div>
  <div class="kt-date-picker-header">
    <button type="button" ng-click="previousMonth()">Previous Month</button>
    <button type="button" ng-click="monthClick()">{{dayPicker.month | monthFormat}} {{dayPicker.year}}</button>
    <button type="button" ng-click="nextMonth()">Next Month</button>
  </div>
  <div class="kt-date-picker-content">
    <div class="kt-day-picker-row">
      <div class="kt-day-picker-day" ng-repeat="dayHeader in dayPicker.dayHeaders">
        {{dayHeader}}
      </div>
    </div>
    <div class="kt-day-picker-row" ng-repeat="week in dayPicker.weeks">
      <div class="kt-day-picker-cell"
           ng-repeat="date in week.dates"
           ng-class="{'kt-date-picker-selected': isSelected(date), 'kt-date-picker-overflow': isOverflowing(date)}">
        <button type="button" ng-click="selectDate(date)">
          {{date.format('D')}}
        </button>
      </div>
    </div>
  </div>
  <div class="kt-date-picker-footer"></div>
</div>
