<div class="kt-dp-flex-row kt-dp-range-navigation">
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-button"
            ng-click="setCurrentPicker('start')"
            ng-class="{'kt-dp-button--selected': isCurrentPicker('start')}">
      {{getDisplayedDate(dateRangePicker.startDate)}}
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-button"
            ng-click="setCurrentPicker('end')"
            ng-class="{'kt-dp-button--selected': isCurrentPicker('end')}">
      {{getDisplayedDate(dateRangePicker.endDate)}}
    </button>
  </div>
</div>

<div class="kt-dp-picker-container">
  <kt-date-range-select start-date="dateRangePicker.startDate" end-date="dateRangePicker.endDate" options="options"
                        ng-show="isCurrentPicker('range')">
  </kt-date-range-select>

  <kt-date-picker ng-model="dateRangePicker.startDate" options="startRangeOptions"
                  ng-show="isCurrentPicker('start')">
  </kt-date-picker>

  <kt-date-picker ng-model="dateRangePicker.endDate" options="endRangeOptions"
                  ng-show="isCurrentPicker('end')">
  </kt-date-picker>
</div>

<div class="kt-dp-flex-row kt-dp-footer">
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-button"
            ng-click="setCurrentPicker('range')"
            ng-class="{'kt-dp-button--selected': isCurrentPicker('range')}">
      <kt-date-picker-icon icon="#date_range_24"></kt-date-picker-icon>
    </button>
  </div>
  <div class="kt-dp-flex-cell" ng-show="!options.applyOnEndDateSelected">
    <button class="kt-dp-button" ng-click="applyChanges()">
      <kt-date-picker-icon icon="#done_24"></kt-date-picker-icon>
    </button>
  </div>
</div>


