<div class="kt-dp-flex-row kt-dp-range-navigation">
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-date"
            ng-click="setCurrentPicker('start')"
            ng-class="{'kt-dp-date--selected': isCurrentPicker('start')}">
      {{getDisplayedDate(startDate)}}
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-date"
            ng-click="setCurrentPicker('end')"
            ng-class="{'kt-dp-date--selected': isCurrentPicker('end')}">
      {{getDisplayedDate(endDate)}}
    </button>
  </div>
</div>

<div class="kt-dp-picker-container">
  <kt-date-range-select start-date="startDate" end-date="endDate" options="options"
                        ng-show="isCurrentPicker('range')">
  </kt-date-range-select>

  <kt-date-picker ng-model="startDate" min-date="minDate" max-date="maxDate" format="{{format}}"
                  ng-show="isCurrentPicker('start')">
  </kt-date-picker>

  <kt-date-picker ng-model="endDate" min-date="startDate" max-date="maxDate" format="{{format}}"
                  ng-show="isCurrentPicker('end')">
  </kt-date-picker>
</div>

<div class="kt-dp-flex-row kt-dp-footer">
  <div class="kt-dp-flex-cell">
    <button class="kt-dp-date"
            ng-click="setCurrentPicker('range')"
            ng-class="{'kt-dp-date--selected': isCurrentPicker('range')}">Select Range</button>
  </div>
</div>


