<div>
  <div class="kt-date-picker-header">
    <button type="button" ng-click="previousYear()" ng-disabled="!hasPreviousYear()"><kt-date-picker-previous-icon></kt-date-picker-previous-icon></button>
    <button type="button" ng-click="yearClick()" ng-disabled="!canChooseYear()">{{monthPicker.year}}</button>
    <button type="button" ng-click="nextYear()" ng-disabled="!hasNextYear()"><kt-date-picker-next-icon></kt-date-picker-next-icon></button>
  </div>
  <div class="kt-date-picker-content">
    <div class="kt-month-picker-cell"
         ng-repeat="month in monthPicker.months"
         ng-class="{'kt-date-picker-selected': isSelected(month)}">
      <button type="button" ng-click="selectMonth(month)" ng-disabled="!isInMinMaxRange(month)">{{month | monthFormat}}</button>
    </div>
  </div>
  <div class="kt-date-picker-footer"></div>
</div>
