<div>
  <div class="kt-date-picker-header">
    <button type="button" ng-click="previousDecade()">Previous Decade</button>
    <button type="button" disabled="disabled">{{yearPicker.decade.start}} - {{yearPicker.decade.end}}</button>
    <button type="button" ng-click="nextDecade()">Next Decade</button>
  </div>
  <div class="kt-date-picker-content">
    <div class="kt-year-picker-cell"
         ng-repeat="year in yearPicker.years"
         ng-class="{'kt-date-picker-selected': isSelected(year), 'kt-date-picker-overflow': isOverflowing(year)}">
      <button type="button" ng-click="selectYear(year)">{{year}}</button>
    </div>
  </div>
  <div class="kt-date-picker-footer"></div>
</div>
