<div class="kt-dp-flex-row kt-dp-navigation">
  <div class="kt-dp-flex-cell">
    <button type="button" class="kt-dp-button" ng-click="previousDecade()" ng-if="hasPreviousDecade()">
      <kt-date-picker-icon icon="#chevron_left_18"></kt-date-picker-icon>
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button type="button" class="kt-dp-button" disabled="disabled">
      {{yearPicker.decade.start}} - {{yearPicker.decade.end}}
    </button>
  </div>
  <div class="kt-dp-flex-cell">
    <button type="button" class="kt-dp-button" ng-click="nextDecade()" ng-if="hasNextDecade()">
      <kt-date-picker-icon icon="#chevron_right_18"></kt-date-picker-icon>
    </button>
  </div>
</div>

<div class="kt-dp-flex-row" ng-repeat="yearChunk in yearPicker.chunkedYears">
  <div class="kt-dp-flex-cell" ng-repeat="year in yearChunk">
      <button
          type="button"
          class="kt-dp-button"
          ng-click="selectYear(year)"
          ng-class="{'kt-dp-button--selected': isSelected(year), 'kt-dp-button--overflow': isOverflowing(year)}"
          ng-disabled="!isInMinMaxRange(year)">
        {{year}}
      </button>
  </div>
</div>
